p {
    color: red; /*or rgb(255, 0, 0)*/
}

* {     /*the * selector is for the full website*/
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
  }

  h1 {
    font-size: 32px;
    color: white;
    text-align: center;
  }
  body {
    background-color: lightsalmon;
  }

  .class-example-1 {
    color: blue;
  }

  #id-example-1 {
    color: green;
  }

  p#id-example-1.class-example-1 {
    color: yellow;
  }

  .class-example-2 {       /*useful for buttons*/
    text-align: center;
  }

  table,
  td {
    border: solid 1px black;
    text-align: center;
  }

  .div-class {      /*allows to have a proper layout of the page - creates a big white box*/
    background-color: white;
    height: 400px;
    width: 400px;
    padding: 15px;
    border: dashed 10px black;
    margin: 20px;
  }

  @media only screen and (max-width: 800px) {  /*can change what page looks 
    body {
      background-color: forestgreen;
    }
  }